@import url('https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Permanent+Marker&family=Roboto:wght@300&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.90em;
    color: #333;
    background-color: #333;
}

.header-site{
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 300px;
    padding-bottom: 500px;
}

.header-site, .img-site {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;
}

.container{
    /*
    padding-left: 15px;
    padding-right: 15px;
    */
    /*padding: 0 15px 0 15px;*/
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto; 
}

.header-site h2{
    font-size: 5em;
    font-family: 'Permanent Marker', verdana;
    text-shadow: 5px 5px 7px #000;
}

h2{
    font-size: 4em;
    font-family: Acme, verdana;
}

h3{
    font-family: 'Indie Flower', 'verdana';
    font-size: 2em;
    font-weight: bold;
    color: blueviolet;
}

.text-center{text-align: center;}
.lead{
    margin-bottom: 20px;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.4;
}

.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    cursor:pointer;
    border-radius: 4px;
    border: 1px solid transparent;
}

.btn:hover{
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-danger{
    color: #fff;
    background-color: tomato;
    border-color: #d43f3a;
}

.btn-yellow{
    color: #fff;
    background-color: rgb(227, 199, 20);
    border-color: #be9232;
}

a{text-decoration: none;}

.conteudo-site {
    padding: 200px 0 470px 0;
    background-color: #fff;
}

.conteudo-site .container {
    margin: auto;
    width: 1200px;
    border: 1px solid #000
}

.box {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 4px 5px -7px #999;
    float: left;
    margin: 20px;
    padding: 20px;
    transition: all ease-in 400ms;
}

.box:hover{
    transform: scale(1.1,1.1);
}

.thumbnail{
    overflow: hidden;
}

.thumbnail img{
    max-width: 100%;
}

.thumbnail img:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}
.img-site {
    background-image: url(../img/bg2.jpg);
    padding: 90px 0 300px 0;
    border-radius: 0 0 220px 200px;
}

.media {
    border: solid 1px #fff;
    width: 90%;
    height: 300px;
    margin: 0 auto;
    background-color: rgba(157, 255, 0, 0.205);
    border-radius: 25px;
    box-shadow: 0px 17px 5px -9px blueviolet;
    margin-bottom: 50px;
}

.media .box{
    width: 525px;
    height: 220px;
    float: left;
    margin: 12px;
}

.media .lado1{
    border-radius: 14px 0px 0px 14px;
    border-left: 2px solid blueviolet;
}
}

.media .lado2{
    background-color: #000;
    border-radius: 0px 14px 14px 0px;
    border-left: 2px solid blueviolet;
}

.box video{
    width: 365px;
    height: 220px;
    margin-top: 10px;
    margin-left: 0px;
}

.box audio{
    margin-top:90px ;
    width: 100%;
}

.footer-site{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #333;
    color: #fff;
}